<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div ng-if="displayError" class="alert alert-danger alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		{{displayError}}
	</div>

	<div ui-view="analytics"></div>

	<ul class="nav nav-tabs nav-justified">
		<li role="presentation" class="active">
			<a ng-click="selectMode()">{{ 'Common.Title.Entrants' | translate }}</a>
		</li>
	</ul>

	<table class="table table-condensed table-responsive" ng-if="!displayModal">
		<thead>
			<tr class="info">
				<th rowspan="2">#</th>
				<th rowspan="2">{{ 'Common.Table.Header.Id' | translate }}</th>
				<th rowspan="2">{{ 'Common.Table.Header.Created' | translate }}</th>
				<th rowspan="2">{{ 'Common.Table.Header.Participates' | translate }}</th>
				<th rowspan="2">{{ 'Common.Table.Header.FullName' | translate }}</th>
				<th rowspan="2">{{ 'Common.Table.Header.Email' | translate }}</th>
				<th rowspan="2">{{ 'Common.Table.Header.Phone' | translate }}</th>
				<th colspan="4">{{ 'Common.Table.Header.Control' | translate }}</th>
			</tr>
			<tr class="info">
				<th>{{ 'Common.Table.Header.Control.Amount' | translate }}</th>
				<th>{{ 'Common.Table.Header.Control.VendorId' | translate }}</th>
				<th>{{ 'Common.Table.Header.Control.Message' | translate }}</th>
				<th>{{ 'Common.Table.Header.Control.Image' | translate }}</th>
			</tr>
			<tr>
				<th></th>
				<th><div class="form-group max-width-50"><input type="text" class="form-control" ng-model="filters.filterById"></div></th>
				<th id="date-picker-input">
					<div class="dropdown form-group max-width-200">
						<a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown" data-target="#" href="">
							<div class="input-group date">
								<input type="text" class="form-control" ng-model="filters.filterByDate">
								<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
							</div>
						</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
							<datetimepicker data-ng-model="filters.dateRangeStart" data-datetimepicker-config="dateTimePickerConfig" data-before-render="beforeRenderStartDate($view, $dates, $leftDate, $upDate, $rightDate)"></datetimepicker>
						</ul>
					</div>
				</th>
				<th>
					<div class="form-group">
						<select class="form-control" ng-model="filters.filterByParticipation">
							<option></option>
							<option value="true">{{ 'Common.Action.Yes' | translate }}</option>
							<option value="false">{{ 'Common.Action.No' | translate }}</option>
						</select>
					</div>
				</th>
				<th><div class="form-group"><input type="text" class="form-control" ng-model="filters.filterByFullName"></div></th>
				<th><div class="form-group"><input type="text" class="form-control" ng-model="filters.filterByEmail"></div></th>
				<th><div class="form-group"><input type="text" class="form-control" ng-model="filters.filterByPhone"></div></th>
				<th><div class="form-group"><input type="text" class="form-control" ng-model="filters.filterByControlAmount"></div></th>
				<th><div class="form-group"><input type="text" class="form-control" ng-model="filters.filterByControlVendorId"></div></th>
				<th><div class="form-group"><input type="text" class="form-control" ng-model="filters.filterByControlMessage"></div></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="entrant in entrants | orderBy:'id' | filter:{id:filters.filterById, created:filters.filterByDate, participates:filters.filterByParticipation, firstName:filters.filterByFullName, email:filters.filterByEmail, phone:filters.filterByPhone, control: {amount:filters.filterByControlAmount, vendorId:filters.filterByControlVendorId, message:filters.filterByControlMessage} }">
				<td>{{$index}}</td>
				<td>{{entrant.id}}</td>
				<td>{{entrant.created | date}}</td>
				<td class="text-center">
					<i class="fa fa-power-off" aria-hidden="true" ng-class="{'green': entrant.participates, 'red': !entrant.participates}"></i>
				</td>
				<td>{{entrant.firstName}} {{entrant.lastName}}</td>
				<td>{{entrant.email}}</td>
				<td>{{entrant.phone}}</td>
				<td>{{entrant.control.amount}}</td>
				<td>{{entrant.control.vendorId}}</td>
				<td>{{entrant.control.message}}</td>
				<td><img class="control-image" src="{{entrant.control.image}}"/></td>
			</tr>
		</tbody>
	</table>

	<div ng-include="'views/common/pager.html'" ng-if="!displayModal"></div>

<div>
